USE [LaboratoryDatabase]
GO
/****** Object:  Table [dbo].[Analyzer]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analyzer](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ExecutionTimeInSeconds] [int] NOT NULL,
 CONSTRAINT [PK_Analyzer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppliedService]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppliedService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Result] [float] NOT NULL,
	[FinishedDateTime] [datetime] NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[StatusId] [int] NOT NULL,
	[AnalyzerId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
 CONSTRAINT [PK_AppliedService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppliedServiceOfOrder]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppliedServiceOfOrder](
	[OrderId] [int] NOT NULL,
	[AppliedServiceId] [int] NOT NULL,
 CONSTRAINT [PK_AppliedServiceOfOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[AppliedServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarcodeOfPatient]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarcodeOfPatient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](15) NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_BarcodeOfPatient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOfLogin]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOfLogin](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[IsSuccessful] [bit] NOT NULL,
 CONSTRAINT [PK_HistoryOfLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCompany]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCompany](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[INN] [nvarchar](7) NOT NULL,
	[CheckingAccount] [nvarchar](9) NOT NULL,
	[BIK] [nvarchar](9) NOT NULL,
 CONSTRAINT [PK_InsuranceCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaboratoryNews]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaboratoryNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Header] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[ImagePreview] [varbinary](max) NULL,
	[UserId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LaboratoryNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[BarcodeId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PassportSeries] [nvarchar](4) NOT NULL,
	[PassportNumber] [nvarchar](6) NOT NULL,
	[Phone] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[TypeOfInsurancePolicyId] [int] NULL,
	[InsuranceCompanyId] [int] NULL,
	[InsurancePolicyNumber] [nchar](20) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](20, 2) NOT NULL,
	[Deadline] [datetime] NULL,
	[MeanDeviation] [decimal](20, 2) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceOfUser]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOfUser](
	[UserId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceOfUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOfAppliedService]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOfAppliedService](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusOfAppliedService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusOfOrder]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusOfOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_StatusOfOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfInsurancePolicy]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfInsurancePolicy](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeOfInsurance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfUser]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TypeOfUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/7/2021 2:07:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[InternetProtocol] [nvarchar](15) NOT NULL,
	[TypeOfUserId] [int] NOT NULL,
	[UserImage] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Analyzer] ([Id], [Name], [ExecutionTimeInSeconds]) VALUES (1, N'Ledetect', 10)
INSERT [dbo].[Analyzer] ([Id], [Name], [ExecutionTimeInSeconds]) VALUES (2, N'Biorad', 20)
GO
SET IDENTITY_INSERT [dbo].[AppliedService] ON 

INSERT [dbo].[AppliedService] ([Id], [ServiceId], [Result], [FinishedDateTime], [IsAccepted], [StatusId], [AnalyzerId], [UserId], [PatientId]) VALUES (1, 415, 0.20596, CAST(N'2020-05-28T17:24:00.000' AS DateTime), 1, 1, 1, 53, 1)
INSERT [dbo].[AppliedService] ([Id], [ServiceId], [Result], [FinishedDateTime], [IsAccepted], [StatusId], [AnalyzerId], [UserId], [PatientId]) VALUES (2, 548, 0.32315, CAST(N'2020-01-16T12:09:00.000' AS DateTime), 1, 1, 1, 42, 1)
INSERT [dbo].[AppliedService] ([Id], [ServiceId], [Result], [FinishedDateTime], [IsAccepted], [StatusId], [AnalyzerId], [UserId], [PatientId]) VALUES (3, 229, 0.87765, CAST(N'2019-12-06T23:16:00.000' AS DateTime), 1, 2, 1, 86, 1)
GO
SET IDENTITY_INSERT [dbo].[AppliedService] OFF
GO
INSERT [dbo].[AppliedServiceOfOrder] ([OrderId], [AppliedServiceId]) VALUES (49, 1027)
INSERT [dbo].[AppliedServiceOfOrder] ([OrderId], [AppliedServiceId]) VALUES (49, 1028)
INSERT [dbo].[AppliedServiceOfOrder] ([OrderId], [AppliedServiceId]) VALUES (49, 1029)
GO
SET IDENTITY_INSERT [dbo].[BarcodeOfPatient] ON 

INSERT [dbo].[BarcodeOfPatient] ([Id], [Barcode], [DateTime]) VALUES (0, N'515112021123456', CAST(N'2021-11-15T05:51:58.257' AS DateTime))
INSERT [dbo].[BarcodeOfPatient] ([Id], [Barcode], [DateTime]) VALUES (1, N'7270614', CAST(N'2020-06-30T14:59:00.000' AS DateTime))
INSERT [dbo].[BarcodeOfPatient] ([Id], [Barcode], [DateTime]) VALUES (2, N'7881540', CAST(N'2020-06-06T11:25:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BarcodeOfPatient] OFF
GO
INSERT [dbo].[HistoryOfLogin] ([Id], [UserId], [DateTime], [IsSuccessful]) VALUES (1, 1, CAST(N'2020-02-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HistoryOfLogin] ([Id], [UserId], [DateTime], [IsSuccessful]) VALUES (2, 2, CAST(N'2020-06-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HistoryOfLogin] ([Id], [UserId], [DateTime], [IsSuccessful]) VALUES (3, 3, CAST(N'2020-05-19T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [CheckingAccount], [BIK]) VALUES (1, N'Avamba', N'0536 Bunker Hill Plaza', N'2716833', N'553793026', N'180522995')
INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [CheckingAccount], [BIK]) VALUES (2, N'Chatterpoint', N'45 Boyd Place', N'6233619', N'531363170', N'629384303')
INSERT [dbo].[InsuranceCompany] ([Id], [Name], [Address], [INN], [CheckingAccount], [BIK]) VALUES (3, N'Zooveo', N'6 Farragut Parkway', N'3684079', N'860679987', N'324109181')
GO
SET IDENTITY_INSERT [dbo].[LaboratoryNews] ON 

INSERT [dbo].[LaboratoryNews] ([Id], [Header], [Text], [ImagePreview], [UserId], [DateTime]) VALUES (2, N'A14235D1-687F-48DF-A7ED-C8C8BD128FDC', N'533AF936-6ED3-46E6-A0BF-9936EDDBC906', NULL, 13, CAST(N'2020-07-06T00:00:00.000' AS DateTime))
INSERT [dbo].[LaboratoryNews] ([Id], [Header], [Text], [ImagePreview], [UserId], [DateTime]) VALUES (3, N'37090CEE-CDAB-48E5-8A1A-8E579EC02DC2', N'92156DC5-236B-43CB-A67D-964000C7C921', NULL, 43, CAST(N'2020-07-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LaboratoryNews] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [Date], [OrderStatusId], [PatientId], [BarcodeId]) VALUES (49, CAST(N'2021-11-21T09:01:57.993' AS DateTime), 2, 1, 1018)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [Login], [Password], [FullName], [BirthDate], [PassportSeries], [PassportNumber], [Phone], [Email], [TypeOfInsurancePolicyId], [InsuranceCompanyId], [InsurancePolicyNumber]) VALUES (1, N'test', N'12345', N'Glyn Dunkerly', CAST(N'1947-04-22' AS Date), N'9091', N'129038', N'+86 (106) 695-3205', N'gdunkerly0@ted.com', 1, 1, N'123456              ')
INSERT [dbo].[Patient] ([Id], [Login], [Password], [FullName], [BirthDate], [PassportSeries], [PassportNumber], [Phone], [Email], [TypeOfInsurancePolicyId], [InsuranceCompanyId], [InsurancePolicyNumber]) VALUES (2, N'jrestill1', N'sqIBkp', N'Jeanne Restill', CAST(N'1983-06-08' AS Date), N'4446', N'615819', N'+234 (336) 298-8675', N'jrestill1@feedburner.com', 1, 2, NULL)
INSERT [dbo].[Patient] ([Id], [Login], [Password], [FullName], [BirthDate], [PassportSeries], [PassportNumber], [Phone], [Email], [TypeOfInsurancePolicyId], [InsuranceCompanyId], [InsurancePolicyNumber]) VALUES (3, N'sjansik2', N'cDS8tAke', N'Sibyl Jansik', CAST(N'1999-07-26' AS Date), N'4525', N'970451', N'+62 (203) 110-2483', N'sjansik2@dedecms.com', 2, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [MeanDeviation]) VALUES (176, N'Билирубин общий', CAST(102.85 AS Decimal(20, 2)), NULL, CAST(0.20 AS Decimal(20, 2)))
INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [MeanDeviation]) VALUES (229, N'СПИД', CAST(341.78 AS Decimal(20, 2)), NULL, CAST(0.40 AS Decimal(20, 2)))
INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [MeanDeviation]) VALUES (258, N'Креатинин', CAST(143.22 AS Decimal(20, 2)), NULL, CAST(0.60 AS Decimal(20, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
INSERT [dbo].[ServiceOfUser] ([UserId], [ServiceId]) VALUES (1, 287)
INSERT [dbo].[ServiceOfUser] ([UserId], [ServiceId]) VALUES (1, 557)
INSERT [dbo].[ServiceOfUser] ([UserId], [ServiceId]) VALUES (1, 836)
GO
INSERT [dbo].[StatusOfAppliedService] ([Id], [Name]) VALUES (1, N'Выполнена')
INSERT [dbo].[StatusOfAppliedService] ([Id], [Name]) VALUES (2, N'Необходим повторный забор материала')
INSERT [dbo].[StatusOfAppliedService] ([Id], [Name]) VALUES (3, N'Отправлена на исследование')
GO
SET IDENTITY_INSERT [dbo].[StatusOfOrder] ON 

INSERT [dbo].[StatusOfOrder] ([Id], [Name]) VALUES (1, N'Подтверждён')
INSERT [dbo].[StatusOfOrder] ([Id], [Name]) VALUES (2, N'В обработке')
INSERT [dbo].[StatusOfOrder] ([Id], [Name]) VALUES (3, N'Отменён')
SET IDENTITY_INSERT [dbo].[StatusOfOrder] OFF
GO
INSERT [dbo].[TypeOfInsurancePolicy] ([Id], [Name]) VALUES (1, N'oms')
INSERT [dbo].[TypeOfInsurancePolicy] ([Id], [Name]) VALUES (2, N'dms')
GO
SET IDENTITY_INSERT [dbo].[TypeOfUser] ON 

INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (1, N'Лаборант')
INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (2, N'Лаборант-исследователь')
INSERT [dbo].[TypeOfUser] ([Id], [Name]) VALUES (3, N'Бухгалтер')
SET IDENTITY_INSERT [dbo].[TypeOfUser] OFF
GO
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [InternetProtocol], [TypeOfUserId], [UserImage]) VALUES (1, N'Clareta Hacking', N'chacking0', N'123', N'147.231.50.234', 1, NULL)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [InternetProtocol], [TypeOfUserId], [UserImage]) VALUES (2, N'Northrop Mably', N'nmably1', N'123', N'22.32.15.211', 2, NULL)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [InternetProtocol], [TypeOfUserId], [UserImage]) VALUES (3, N'Fabian Rolf', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', 1, NULL)
GO
ALTER TABLE [dbo].[AppliedService] ADD  CONSTRAINT [DF_AppliedService_PatientId]  DEFAULT ((1)) FOR [PatientId]
GO
ALTER TABLE [dbo].[AppliedService]  WITH CHECK ADD  CONSTRAINT [FK_AppliedService_Analyzer] FOREIGN KEY([AnalyzerId])
REFERENCES [dbo].[Analyzer] ([Id])
GO
ALTER TABLE [dbo].[AppliedService] CHECK CONSTRAINT [FK_AppliedService_Analyzer]
GO
ALTER TABLE [dbo].[AppliedService]  WITH CHECK ADD  CONSTRAINT [FK_AppliedService_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[AppliedService] CHECK CONSTRAINT [FK_AppliedService_Patient]
GO
ALTER TABLE [dbo].[AppliedService]  WITH CHECK ADD  CONSTRAINT [FK_AppliedService_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[AppliedService] CHECK CONSTRAINT [FK_AppliedService_Service]
GO
ALTER TABLE [dbo].[AppliedService]  WITH CHECK ADD  CONSTRAINT [FK_AppliedService_StatusOfAppliedService] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusOfAppliedService] ([Id])
GO
ALTER TABLE [dbo].[AppliedService] CHECK CONSTRAINT [FK_AppliedService_StatusOfAppliedService]
GO
ALTER TABLE [dbo].[AppliedService]  WITH CHECK ADD  CONSTRAINT [FK_AppliedService_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AppliedService] CHECK CONSTRAINT [FK_AppliedService_User]
GO
ALTER TABLE [dbo].[AppliedServiceOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfOrder_AppliedService] FOREIGN KEY([AppliedServiceId])
REFERENCES [dbo].[AppliedService] ([Id])
GO
ALTER TABLE [dbo].[AppliedServiceOfOrder] CHECK CONSTRAINT [FK_ServiceOfOrder_AppliedService]
GO
ALTER TABLE [dbo].[AppliedServiceOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfOrder_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[AppliedServiceOfOrder] CHECK CONSTRAINT [FK_ServiceOfOrder_Order]
GO
ALTER TABLE [dbo].[HistoryOfLogin]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfLogin_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[HistoryOfLogin] CHECK CONSTRAINT [FK_HistoryOfLogin_User]
GO
ALTER TABLE [dbo].[LaboratoryNews]  WITH CHECK ADD  CONSTRAINT [FK_LaboratoryNews_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[LaboratoryNews] CHECK CONSTRAINT [FK_LaboratoryNews_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_BarcodeOfPatient] FOREIGN KEY([BarcodeId])
REFERENCES [dbo].[BarcodeOfPatient] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_BarcodeOfPatient]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Patient]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StatusOfOrder] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[StatusOfOrder] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StatusOfOrder]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_InsuranceCompany] FOREIGN KEY([InsuranceCompanyId])
REFERENCES [dbo].[InsuranceCompany] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_InsuranceCompany]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_TypeOfInsurancePolicy] FOREIGN KEY([TypeOfInsurancePolicyId])
REFERENCES [dbo].[TypeOfInsurancePolicy] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_TypeOfInsurancePolicy]
GO
ALTER TABLE [dbo].[ServiceOfUser]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfUser_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfUser] CHECK CONSTRAINT [FK_ServiceOfUser_Service]
GO
ALTER TABLE [dbo].[ServiceOfUser]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOfUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ServiceOfUser] CHECK CONSTRAINT [FK_ServiceOfUser_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TypeOfUser] FOREIGN KEY([TypeOfUserId])
REFERENCES [dbo].[TypeOfUser] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TypeOfUser]
GO
